.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topbar.items {
    width: 100px;
    display: inline-block;
}

.title-bar-icon {
    max-width: 16px;
    max-height: auto;
}