@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    user-select: none;
    font-family: "Google Sans", sans-serif;

    margin: 5px;
    border: 2px;
    border-radius: 2%;
    border-color: crimson;
}

.navbar {
    border: 2px;
    border-radius: 3%;
    border-color:azure;
    background-color: aliceblue;
}

.navbar ul {
    align-items: start;

}
